#language: python 

#python:
#  - "3.6"  # 指定Python版本

# Specify which branches to build using a safelist
# 分支白名单限制: 只有hugo分支的提交才会触发构建
branches:
  only:
    - gh-pages 

install:
# 安装最新的hugo
#  - go get github.com/spf13/hugo 
#  - wget -qO- https://api.github.com/repos/gohugoio/hugo/releases/latest | sed -r -n '/browser_download_url/{/Linux-64bit.deb/{s@[^:]*:[[:space:]]*"([^"]*)".*@\1@g;p}}' | xargs wget
#  - sudo dpkg -i hugo*.deb
#  - pip install Pygments
#  - rm -rf public 2> /dev/null
  - rm -rf public 2> /dev/null

script:
# 运行hugo命令
  - binary/hugo

deploy:
  provider: pages # 重要，指定这是一份github pages的部署配置
  skip-cleanup: true # 重要，不能省略
  local-dir: public # 静态站点文件所在目录
  target-branch: master # 要将静态站点文件发布到哪个分支
  github-token: $GITHUB_TOKEN # 重要，$GITHUB_TOKEN是变量，需要在GitHub上申请、再到配置到Travis
  fqdn: anshao.me # 如果是自定义域名，此处要填
  keep-history: true # 是否保持target-branch分支的提交记录
  on:
    branch: gh-pages # 博客源码的分支
